body {
	font: 1em Helvetica;
}

input:focus { color: #454545; }

hr {
	height: 1px;
	margin: 0;
	margin-top: 4px;
	margin-bottom: 8px;
  border-style: groove;
}

.ui-controlgroup-halfbutton, .ui-button, .ui-corner-button {
	background-color: #f6f6f6;
	padding-top: 6px;
  padding-bottom: 6px;
  height: 18px;
	font-size: 0.55em;
	font-weight: bold;
}

input:hover, .ui-controlgroup-halfbutton:hover, .ui-button:hover {
	background-color: #fefefe;
}
input:disabled, .ui-controlgroup-halfbutton:disabled, .ui-button:disabled {
	background-color: #dcdcdc;
  color: #fafafa;
}

#node_details input, #node_details select {
	padding: 2px 4px 2px 4px;
	margin: 0;
	font-size: 0.7em;
	border: 0;
	background-color: #dddddd;
	width: 242px;
  height: 20px;
}
#node_details select {
	/* select -> width+height -(minus!) padding (left/right) ... input not....*/
	width: 250px;
	height: 24px;
}

#node_grid  {
    font-size: 0.75em;
}

#event_grid  {
    font-size: 0.5em;
		float: right;
}

.node_details_box_header {
	text-align: center;
	width: 250px;
	height: 22px;
	padding: 0;
	margin: 0;
	padding-bottom: 5px;
	background-color: #f6f6f6;
	font-weight: 550;
}

.node_details_box {
	float:left;
}

.val_data_label, .val_data_content, .val_data, .val_data_label_extra,
.val_data_minmax, .val_data_extra_text, .group_data_label, .group_data_assoc,
.action_node_link, .prop_data, .prop_data_content, .prop_data_label {
	padding: 2px;
	font: 0.75em Helvetica;
}

.group_data_box, .val_data_box, .prop_data_box, .action_data_box {
	width: 250px;
}

.action_node_link, .action_node_link:visited {
	text-align: left;
	display: block;
	width: 150px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.action_node_link:hover {
	color: #000093;
	font-weight: light;
	text-decoration: underline;
}

.val_data_label, .group_data_label {
	overflow-wrap: normal;
	font-weight: 600;
	width: 250px;
}

.prop_data_label {
	float: left;
	overflow-wrap: normal;
	font-weight: 600;
}

.prop_data_box {
	clear: both;
}

.val_data_label_extra {
	float: right;
}

.prop_data {
	float:right;
	text-align: right;
}

.val_data_extra_text {
	font-size: 0.65em;
	color: #191919;
	display: block;
}


.ui-controlgroup-vertical > .ui-controlgroup-item, #device_path, .ui-controlgroup-button,
.ui-controlgroup-label, .ui-text-input {
  text-align: center;
}

.ui-controlgroup-vertical > .ui-controlgroup-item {
}

.top_path, #box_buttons_onoff, .top_box, #device_off, #device_on, .ui-text-halfinput {
  padding-left: 0px;
  padding-right: 0px;
}

.ui-controlgroup .ui-controlgroup-label span {
  width: 156px;
}

#device_on, #log_generic {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 0px;
}

#device_off, #log_console {
  border-left: 0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 3px;
}

.lower_box2 {
  /*width: 160px;*/
  padding: 0;
  display: table;
  table-layout: fixed;
  border: 0;
}

.lower_box3 {
  width: 240px;
  padding: 0;
  display: table;
  table-layout: fixed;
  border: 0;
}

.top_path {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 158px;
  font-weight: 400;
  border: 1px solid #c5c5c5;
}

.top_box {
	margin-right: 0px;
	float: left;
	font: 600 1em Helvetica;
  margin-bottom: 0.75em;
  margin-right: 0.225em;
}

.ui-controlgroup-halfbutton  {
  width: 80px;
  margin: 0;
  display: inline-block;
  height: 32px;
}

.container3 {
	height: 180px;
	width: 240px;
	float: left;
	display: block;
	overflow: auto;
	margin: 0;
	margin-top: 10px;
}


.container_box {
    height: 131px;
    width: 16px;
    /*transform: rotate(-90deg);
	transform-origin: right bottom 0;*/
	background-color: #767676;
    float:left;
    display: block;
    border: 1px solid #454545;
    margin-top: 4px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
}


/*#log_generic {  width: 78px; }
#log_console {  width: 79px; }*/
